<div id="<%= dom_id municipe %>">
  
  

  
  <p>
    <strong>Name:</strong>
    <%= municipe.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= municipe.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= municipe.cns %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= municipe.email %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= municipe.country_code %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= municipe.mobile %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= municipe.birthday %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= municipe.status %>
  </p>

</div>
