<div id="<%= dom_id address %>">
  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= address.complement %>
  </p>

  <p>
    <strong>District:</strong>
    <%= address.district %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Ibge code:</strong>
    <%= address.ibge_code %>
  </p>

  <p>
    <strong>Municipe:</strong>
    <%= address.municipe_id %>
  </p>

</div>
